/**** Right away we need to weave the old, new, and tweener syntaxes together. Order is important here. Since the display property itself isn't prefixed, we need to make sure we don't override newer syntaxes with older syntaxes for browsers that still (and probably always will) support both. ****/

.wrapper,
.navigation,
.series-block {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
}

/************************
  BASIC PAGE STRUCTURE
 ***********************/

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper,
.navigation {
  display: flex;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header,
.footer {
  background: tomato;
}

.main {
  text-align: center;
  background: deepskyblue;
}

.aside-1 {
  border-right: 3px solid tomato;
}

/*.aside-2 {
  border-left: 3px solid tomato;
}*/


/************************
  NAVIGATION
 ***********************/

.navigation {
  list-style: none;
  margin: 0;

  background: tomato;

  justify-content: flex-end;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
  margin-right: 30px;
  font-size: 1.4rem;
}

.navigation a:hover {
  background: darken(tomato, 2%);
}

.navigation a {
  text-align: center;
  padding: 10px;
}

.navigation li:last-of-type a {
  border-bottom: none;
}

/************************
  MOVIE LIST
 ***********************/

.aside {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  overflow: scroll;
}

.row p, .row span {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    margin: 0;
}

.likes {
    text-align: center;
}

.likes span {
    background: tomato;
    color: white;
    font-size: 20px;
    width: 40px;
}

.likes span.like {
    background: #fff;
    color: black;
}

/************************
  TV SHOWS DISPLAY
 ***********************/

.series-block {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}

.seriesImage,
.row img
 {
  border: 5px solid tomato;
  width: 200px;
  height: 150px;
  margin: 20px;

  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}


/************************
  MEDIA QUERIES
 ***********************/

@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
  .navigation a {
    margin-right: 0;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }

  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }


  .navigation li:last-of-type a {
    border-bottom: none;
  }
}
