<!DOCTYPE html>
<html lang="en" ng-app="myApp" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>L&hearts;VE A BIT O' LOVELY TELLY!!</title>
  <link href="css/main.css" rel="stylesheet" />
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-app="myApp">
  <div class="wrapper">
    <header class="header">
      <h1>L&hearts;VE  A  BIT  O'  L&hearts;VELY  TELLY!!</h1>
      <ul class="navigation">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </header>

    <div class="main" ng-controller="MainController">
      <div class="content">
        <h2>The ten most popular tv series on this planet, at this time!</h2>
        <div ng-view></div>
      </div>
    </div>

    <!-- Event Handlers -->
    <aside class="aside aside-1" ng-controller="MovieController">
      <h2>Movie feedback!</h2>
      <div class="row" ng-repeat="movie in movies">
          <div class="movie-icon col-xs-2">
          	<img ng-src="{{ movie.icon }}"/>
          </div>
          <div class="col-xs-4 likes">
            <span class="decrease" ng-click="decrease($index)">-</span><span class="like">{{ movie.likes }}</span><span class="increase" ng-click="increase($index)">+</span>
          </div><!--ng-click is a directive -->
          <div class="col-xs-6">
            <p class="movie-name">{{ movie.name }}</p>
          </div>
        </div>
    </aside>


    <!-- Directives -->
    <aside class="aside aside-2" ng-controller="ComedyController">
      <h2>Top comedy series...</h2>
      <div class="row" ng-repeat="comedy in comedies">
        <comedy-info info="comedy"></comedy-info>
      </div>
    </aside>




    <footer class="footer">&copy; Jock Dalby 2016</footer>
  </div>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<!-- Modules -->
<script src="./app.js"></script>

<!-- Controllers -->
<script src="./controllers/MainController.js"></script>
<script src="./controllers/MovieController.js"></script>
<script src="./controllers/SeriesController.js"></script>
<script src="./controllers/ComedyController.js"></script>
<!-- Directives -->
<script src="./directives/tvShow.js"></script>
<script src="./directives/comedyInfo.js"></script>

<!-- Services -->
<script src="./services/shows.js"></script>
</body>
</html>
